# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Log files
logs/*.log